<hr class="small">
<section id="accommodations" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Accommodations in Hamilton</h1>
        </div>
        <div class="content">
          <h2>On Campus </h2>
          <p class="lead">The LOC has 30 rooms blocked out for accommodations on campus at McMaster for CAD$90 per night, which can be booked on the registration form. These rooms are first-come-first-serve, and are intended for students and postdocs as a cheaper option.</p>
          <!-- <p class="lead">Note: We are looking into more affordable on-campus accommodations for students. Option will be available through registration form.</p> -->

          <br>
          <h2>Hotels</h2>

                <p class="lead">
                    <a href="https://visitorsinn.com/hamilton/" target="_blank">Visitor's Inn</a>
                </p>
                <ul>
                    <li><p class="lead">CAD$123 per night</p></li>
                    <li><p class="lead">10 minute HSR bus ride or 30 minute walk to McMaster</p></li>
                    <li><p class="lead">LOC choice for invited/keynote speakers</p></li>
                </ul>

            

                <p class="lead">
                    <a href="https://www.hilton.com/en/hotels/yhmhmhx-hampton-hamilton/" target="_blank">Hampton Inn</a>
                </p>
                <ul>
                    <li><p class="lead">CAD$170 per night</p></li>
                    <li><p class="lead">15 minute HSR bus ride or 45 minute walk to McMaster</p></li>
                </ul>

    

                <p class="lead">
                    <a href="https://www.hilton.com/en/hotels/yhmhwhw-homewood-suites-hamilton-ontario-canada/" target="_blank">Homewood Suites by Hilton</a>
                </p>
                <ul>
                    <li><p class="lead">CAD$170 per night</p></li>
                    <li><p class="lead">15 minute HSR bus ride to McMaster</p></li>
                </ul>

    

                <p class="lead">
                    <a href="https://www.ihg.com/staybridge/hotels/us/en/hamilton/yhmha/hoteldetail" target="_blank">Staybridge Suites Hamilton</a>
                </p>
                <ul>
                    <li><p class="lead">CAD$175 per night</p></li>
                    <li><p class="lead">15 minute HSR bus ride to McMaster</p></li>
                </ul>

    

                <p class="lead">
                    <a href="https://www.marriott.com/en-us/hotels/yhmsi-sheraton-hamilton-hotel/overview/" target="_blank">Sheraton Hamilton Hotel</a>
                </p>
                <ul >
                    <li><p class="lead">CAD$180 per night</p></li>
                    <li><p class="lead">20 minute HSR bus ride to McMaster</p></li>
                </ul>
 


        </div>

      </div>
    </div>
  </div>
</section>
