<hr class="small">
<section id="code-of-conduct" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Code of Conduct</h1>
        </div>
        <div class="content">
          <p class="lead" style="margin-top: 20px;">We, the organizers of RalPosium, are dedicated to making this meeting 
            productive and enjoyable for everyone, regardless of age, race, ethnicity, sexual orientation, gender 
            identity, gender expression, marital status, nationality, political affiliation, religion, ability status, 
            physical appearance or educational background. We are committed to providing a harassment-free meeting 
            for everyone attending. We expect attendees to:</p>
              <ul>
                <li><p class="lead"><b>Behave professionally.</b></p></li>
                <li><p class="lead"><b>Be kind to and respectful of each other.</b></p></li>
                <li><p class="lead"><b>Retain from demeaning, or harassing behavior, materials, and speech.</b></p></li>
                <li><p class="lead"><b>Anyone asked to stop unacceptable behavior is expected to comply immediately.</b></p></li>
              </ul>
              <p class="lead">The members of the Local Organizing Committee and Science Organizing Committee are 
                designated as the contact points for all matters related to this code.</p>
        </div>

      </div>
    </div>
  </div>
</section>
