<hr class="small">
<section id="format" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Format</h1>
        </div>
        <div class="content">
          <p class="lead">The meeting will have a <b>hybrid format</b>, with both audience and 
            speakers being able to join on-site at McMaster University, and online. 
            Ralph's professional connections during his career have extended around the 
            world, and this format ensures that there are no borders to joining this 
            collaborative meeting. While we would all like to be with Ralph in Hamilton to 
            celebrate this week, Ralph's influence has stretched around the globe and it is 
            not always possible for everyone to be together physically. For those who cannot 
            be with us in-person, we hope you will join us online.</p>
        </div>

      </div>
    </div>
  </div>
</section>
