<hr class="small">
<section id="format" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>In person or hybrid?</h2>
        </div>
        <div class="content">
          <p class="lead">The meeting will be a <b>hybrid event</b>, to accommodate speakers and participants who can not make it to Hamilton. We would love to see you in Hamilton but if you aren't able to be here with us we encourage you to participate remotely. We are considering special events for remote participants.</p>

        </div>

      </div>
    </div>
  </div>
</section>
