<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color:white;">From Stars to Life</h1>
    <h2 style="color:white;"><b>Celebrating the Scientific Career of Ralph Pudritz</b></h2>
    <br>
    <h3 style="color:white;">An international workshop <br>June 25-27, 2025 <br>McMaster University, Hamilton, ON, Canada</h3>
    <br>
    <br>
    <a class="btn btn-dark btn-lg" href="#registration" target="_blank"><b><s>Registration Form</s></b></a>
    <br>
    <h4 style="color:white;"><i>Last updated: June 22nd, 2025</i></h4>
  </div>
</header>
