<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Important Dates</h1>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration is not yet open.</p> -->
          <ul class="list-unstyled">
            <li><p class="lead"><b>March 24, 2025:</b> Conference registration opens.</p></li>
            <li><p class="lead"><b>May 25, 2025:</b> Conference registration closes.</p></li>
            <li><p class="lead"><b>June 25-27, 2025:</b> Join us for "RalPosium"!</p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
