<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Important Dates</h2>
        </div>
        <div class="content">
          <p class="lead">(Registration is not yet open.)</p>
          <ul class="list-unstyled">
            <li><p class="lead"><b>Early Registration:</b> Opens [date] and closes [date].</p></li>
            <li><p class="lead"><b>Regular Registration:</b> Opens [date] and closes [date].</p></li>
            <li><p class="lead"><b>Abstract Submission:</b> Opens [date] and closes [date].</p></li>
            <li><p class="lead"><b>Preliminary Program:</b> Available [date].</p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
