<hr class="small">
<section id="invited-speakers" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Invited Speakers</h2>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead">Speaker</p></li>
            <li><p class="lead">Speaker</p></li>
            <li><p class="lead">Speaker</p></li>
            <li><p class="lead">Speaker</p></li>
            <li><p class="lead">Speaker</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
