<hr class="small">
<section id="invited-speakers" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Confirmed Invited Speakers</h2>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead">Chris McKee (UC Berkeley)</p></li>
            <li><p class="lead">Tom Ray (DIAS Dunsink Observatory)</p></li>
            <li><p class="lead">Jim Stone (Princeton University)</p></li>
            <li><p class="lead">Paul Higgs (McMaster University)</p></li>
            <li><p class="lead">More to come</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
