<hr class="small">
<section id="invited-speakers" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Invited Speakers</h1>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead" style="margin-top: 20px;">Chris McKee (University of California, Berkeley)</p></li>
            <li><p class="lead">Tom Ray (Dublin Institute for Advanced Studies)</p></li>
            <li><p class="lead">Jim Stone (Princeton University)</p></li>
            <li><p class="lead">Farzana Meru (University of Warwick)</p></li>
            <li><p class="lead">Alexandra Pontefract (Johns Hopkins Applied Physics Laboratory)</p></li>
            <li><p class="lead">Paul Higgs (McMaster University)</p></li>
            <li><p class="lead">Ryan Cloutier (McMaster University)</p></li>
            <li><p class="lead">Norm Murray (Canadian Institute for Theoretical Astrophysics)</p></li>
            <li><p class="lead">More to come</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
