<hr class="small">
<section id="loc" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Local Organizing Committee (LOC)</h2>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead">Rachel Pillsworth, Chair (McMaster University)</p></li>
            <li><p class="lead">Tamara Koletic (McMaster University)</p></li>
            <li><p class="lead">Jess Speedie (University of Victoria)</p></li>
            <li><p class="lead">Yasuhiro Hasegawa (Jet Propulsion Laboratory)</p></li>
          </ul>
          <br>
          <p class="lead"><b>To contact the SOC or LOC write to: <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a></b></p>

        </div>

      </div>
    </div>
  </div>
</section>
