<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Menu</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >When & Where</a>
    </li>
    <li>
      <a href="#rationale" onclick = $("#menu-close").click(); >Meeting Rationale</a>
    </li>
    <li>
      <a href="#program" onclick = $("#menu-close").click(); >Program Overview</a>
    </li>
    <li>
      <a href="#invited-speakers" onclick = $("#menu-close").click(); >Invited Speakers</a>
    </li>
        <!-- <li>
      <a href="#important-dates" onclick = $("#menu-close").click(); >Participants List</a>
    </li> -->
    <!-- <li>
      <a href="#important-dates" onclick = $("#menu-close").click(); >Important Dates</a>
    </li> -->
    <!-- <li>
      <a href="#format" onclick = $("#menu-close").click(); >Format</a>
    </li> -->
    <!-- <li>
      <a href="#important-dates" onclick = $("#menu-close").click(); >Travel Information</a>
    </li> -->
    <li>
      <a href="#soc" onclick = $("#menu-close").click(); >SOC</a>
    </li>
    <li>
      <a href="#loc" onclick = $("#menu-close").click(); >LOC</a>
    </li>
    <!-- <li>
      <a href="#funding" onclick = $("#menu-close").click(); >Funding</a>
    </li> -->
    <li>
      <a href="#accommodations" onclick = $("#menu-close").click(); >Accomodations in Hamilton</a>
    </li>
    <li>
      <a href="#map" onclick = $("#menu-close").click(); >Venue Map</a>
    </li>
  </ul>
</nav>
