<hr class="small">
<section id="program" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Program Overview</h1>
        </div>
        <div class="content">
          <!-- A mixture of scientific and homecoming events. -->
          <p class="lead" style="margin-top: 20px;"> 
            This meeting is designed for researchers and highly qualified personnel in star formation, planetary formation, and 
            astrobiology. It will feature talks focused on Ralph Pudritz's impact on these fields, 
            alongside cutting-edge research and recent advances. Participants will consist of a diverse 
            group of researchers (e.g., disciplines, career levels, locations) and will gain insights 
            into the latest discoveries and methodologies, while engaging in discussions that bridge theory, 
            observation, and experimentation. This conference will foster collaboration, enhance professional 
            networks, and provide a unique opportunity to reflect on Ralph's contributions, benefiting all 
            attendees by strengthening connections across these interdisciplinary areas.
            </p>
            <p class="lead">The conference starts on <b>Wednesday June 25th at 8:30 AM, and finishes on Friday  
              June 27th at 5:15 PM</b> (Eastern Daylight Time), followed by a special social celebration on Friday evening. </p>

            <br>
            <h2>Program Highlights:</h2>
            <ul>
              <li><p class="lead"><b>Invited speakers:</b> Distinguished experts in star formation, planet formation and astrobiology</p></li>
              <li><p class="lead"><b>Contributed talks:</b> 31 oral presentations</p></li>
              <li><p class="lead"><b>Daily schedule:</b> Talks of mixed dicipline daily, not confined to strict sessions</p></li>
              <li><p class="lead"><b>Hybrid format:</b> Inclusive approach for online interaction</p></li>
              <li><p class="lead"><b>Poster sessions:</b> Interactive poster pop-up sessions</p></li>
              <li><p class="lead"><b>Lunch:</b> 80-minute lunch breaks with lunch provided</p></li>
              <li><p class="lead"><b>Breaks:</b> Multiple 30-minute coffee breaks each day</p></li>
            </ul>

            <!-- <p class="lead">The detailed program schedule is coming soon.</p> -->

            <br>
            <h2>Special Social Events:</h2>
            <ul>
              <li><p class="lead"><b>Wednesday Evening (19:00):</b> Banquet Dinner at 
                The Diplomat in downtown Hamilton (<a href="https://thediplomat.ca/" target="_blank">https://thediplomat.ca/</a>)</p></li>
              <li><p class="lead"><b>Friday Evening (18:30):</b> End of conference social celebration at Ralph & Patricia's, catered by the LOC/SOC</p></li>
            </ul>
            
        </div>
        
      </div>
      
    </div>
  </div>
</section>



<hr class="small">
<section id="program-detailed" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Full Program & More Details</h1>
        </div>
        <div class="content">
          <h2>Full Schedule:</h2>
            <!-- <p class="lead">(May be updated - check it often!)</p> -->
            <p class="lead">All times are Eastern Daylight Time (EDT).</p>
              <!-- <img src="img/block-schedule-june6.pdf" alt="Block Schedule" style="width: 100%;"> -->
              <embed src="img/schedule-final.pdf" type="application/pdf" width="100%" height="1000px">
            
            <br>
            <br>


            <h2>Optional Activities:</h2>
            <ul>
              <li><p class="lead"><b>Wednesday (13:30-13:45) & Thursday (14:00-14:15):</b> Guided tours of the <a href="https://origins.mcmaster.ca/origins-of-life-laboratory/" target="_blank"><b>Origins of Life Laboratory</b></a>, led by Maikel Rheinstädter (in-person, ABB 242)</p></li>
              <li><p class="lead"><b>Thursday (8:30-9:00 and 12:45-13:45):</b> 3D Virtual Social Space demonstration and exploration of the JAXA Station, led by Elizabeth Tasker (in-person and online). The initial demo will take place Thursday morning (8:30-9:00; ABB 102), with the main event later that afternoon (12:45-13:45; in meeting rooms). More info below.</p></li>
              <li><p class="lead"><b>Thursday (14:30-15:30):</b> Planetarium Show at the <a href="https://planetarium.physics.mcmaster.ca/" target="_blank"><b>W. J. McCallion Planetarium</b></a> titled <i>Onekwá:tara - The Seven Dancers of the Pleiades & The Celestial Bear: The Six Nations' Night Sky</i> led by Bennett Neil Skinner (in-person, BSB B149)</p></li>
              <li><p class="lead"><b>Thursday (12:00-15:00):</b> A joint screening of the online CASCA Business Meeting for <a href="https://casca.ca/" target="_blank">CASCA</a> members (in-person, ABB 102)</p></li>
              <li><p class="lead"><b>Thursday (12:00-15:00):</b> Free small classroom / meeting rooms (in-person, ABB 272, 326, 326A)</p></li>
              <li><p class="lead"><b>Friday (8:30-9:00):</b> Meet & Greet with Ralph over Zoom (online only)</p></li>
            </ul>
            <p class="lead">Participants can sign up for the Origins of Life Laboratory tours and Planetarim Show at registration on Wednesday morning.
              Free spaces (small classroom & meeting rooms) are booked for exploring the JAXA Station 
              3D Virtual Social Space with online attendees, and/or for social/science discussions/chats.
            </p>
            <br>
            <h2>3D Virtual Social Space: JAXA Station</h2>
            <p class="lead">Let's head to space! Take a virtual trip to a space station where you can check out some of the small body missions run by 
              JAXA (Japanese space agency), and even take a walk on asteroid Ryugu! Developed by Elizabeth Tasker (together with OmniScope and The 
              Future of Meetings), the space is designed to demonstrate what can be created online to improve online meetings and events so that we 
              can stay connected, even when we're miles apart. 
            </p>
            <p class="lead"> 
              Our space station is hosted on <a href="https://www.spatial.io/" target="_blank">spatial.io</a>, and you can connect via a web browser (any computer), smart phone (via a free app),  or a 
              Quest VR headset. You don't need an account to explore the virtual space, but if you'd like to unmute and chat to your fellow travellers, 
              you'll need to make a free account on <a href="https://www.spatial.io/" target="_blank">spatial.io</a> (and hit "m" to unmute). Elizabeth with risk a live demonstration of the space on 
              Thursday morning, before the first keynote session! 
            </p>

            <br>
            <h2>Maps & Floorplans:</h2>
            <p class="lead">The conference talks will take place in the <a href="https://discover.mcmaster.ca/map/" target="_blank"><b>A.N. Bourns Building (ABB)</b></a> in room <a href="https://library.mcmaster.ca/cct/class-dir/abb-102" target="_blank"><b>ABB 102</b></a>.</p>
            <p class="lead">Posters, coffee breaks, and lunches will be held in room <b>ABB 166</b> (across from ABB 102). Lunches are provided and catered by local businesses.</p>
            <p class="lead">The only on-campus event taking place outside of ABB is the Planetarium Show, which will be held in the <a href="https://discover.mcmaster.ca/map/" target="_blank"><b>Burke Science Building (BSB)</b></a> in room <a href="https://www.mcmaster.ca/uts/maps/bsb0.html" target="_blank"><b>BSB B149</b></a> (basement).</p>
            <p class="lead">Maps and floorplans of the ABB and BSB buildings can be found below (PDFs scroll vertically).</p>
            <embed src="img/ABB-map-floorplan.pdf" type="application/pdf" width="49.5%" height="305px">
              <embed src="img/BSB-map-floorplan.pdf" type="application/pdf" width="49.5%" height="305px">

        </div>

      </div>
      
    </div>
  </div>
</section>
