<hr class="small">
<section id="program" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Program Overview</h2>
        </div>
        <div class="content">
          <!-- A mixture of scientific and homecoming events. -->
          <p class="lead"> 
            This meeting is designed for researchers and HQP in star formation, planetary formation, and 
            astrobiology. It will feature talks focused on Ralph Pudritz's impact on these fields, 
            alongside cutting-edge research and recent advances. Participants will consist of a diverse 
            group of researchers (e.g., disciplines, career levels, locations) and will gain insights 
            into the latest discoveries and methodologies, while engaging in discussions that bridge theory, 
            observation, and experimentation. This conference will foster collaboration, enhance professional 
            networks, and provide a unique opportunity to reflect on Ralph’s contributions, benefiting all 
            attendees by strengthening connections across these interdisciplinary areas.
            </p>
            <p class="lead">A detailed program is coming soon.</p>
            <!-- <br>
            <p class="lead">Banquet Dinner will be hosted the first night of the conference, June 25th, at 
              The Diplomat in Hamilton: <a href="https://thediplomat.ca/" target="_blank">https://thediplomat.ca/</a>. </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
