<hr class="small">
<section id="program" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Program Overview</h1>
        </div>
        <div class="content">
          <!-- A mixture of scientific and homecoming events. -->
          <p class="lead" style="margin-top: 20px;"> 
            This meeting is designed for researchers and highly qualified personnel in star formation, planetary formation, and 
            astrobiology. It will feature talks focused on Ralph Pudritz's impact on these fields, 
            alongside cutting-edge research and recent advances. Participants will consist of a diverse 
            group of researchers (e.g., disciplines, career levels, locations) and will gain insights 
            into the latest discoveries and methodologies, while engaging in discussions that bridge theory, 
            observation, and experimentation. This conference will foster collaboration, enhance professional 
            networks, and provide a unique opportunity to reflect on Ralph's contributions, benefiting all 
            attendees by strengthening connections across these interdisciplinary areas.
            </p>
            <p class="lead">The conference starts on <b>Wednesday June 25th at 8:30 AM, and finishes on Friday  
              June 27th at 5:15 PM</b> (Eastern Daylight Time), followed by a special social celebration on Friday evening. </p>

            <br>
            <h2>Program Highlights:</h2>
            <ul>
              <li><p class="lead"><b>Invited speakers:</b> Distinguished experts in star formation, planet formation and astrobiology</p></li>
              <li><p class="lead"><b>Contributed talks:</b> 30 oral presentations</p></li>
              <li><p class="lead"><b>Daily schedule:</b> Talks of mixed dicipline daily, not confined to strict sessions</p></li>
              <li><p class="lead"><b>Hybrid format:</b> Inclusive approach for online interaction</p></li>
              <li><p class="lead"><b>Poster sessions:</b> Interactive poster pop-up sessions</p></li>
              <li><p class="lead"><b>Lunch:</b> 80-minute lunch breaks with lunch provided</p></li>
              <li><p class="lead"><b>Breaks:</b> Multiple 30-minute coffee breaks each day</p></li>
            </ul>

            <!-- <p class="lead">The detailed program schedule is coming soon.</p> -->

            <br>
            <h2>Special Events:</h2>
            <ul>
              <li><p class="lead"><b>Wednesday Evening:</b> Banquet Dinner at 
                The Diplomat in Hamilton (<a href="https://thediplomat.ca/" target="_blank">https://thediplomat.ca/</a>)</p></li>
              <li><p class="lead"><b>Friday Evening:</b> End of conference social celebration at Ralph & Patricia's, catered by the LOC/SOC</p></li>
            </ul>
            <br>
            <h2>Full Schedule:</h2>
            <!-- <br> -->
            <p class="lead"> (May be updated - check it often!)</p>
            <p class="lead"> All times are Eastern Daylight Time (EDT).</p>
              <!-- <img src="img/block-schedule-june6.pdf" alt="Block Schedule" style="width: 100%;"> -->
              <embed src="img/schedule-june17.pdf" type="application/pdf" width="100%" height="600px">

        </div>
        
      </div>
      
    </div>
  </div>
</section>
