<hr class="small">
<section id="rationale" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Meeting Rationale & Topics</h2>
        </div>
        <div class="content">
          <p class="lead">This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to This workshop is dedicated to </p>
          <br>
          <p class="lead">Topics covered:</p>
          <ul>
            <li><p class="lead">Topic</p></li>
            <li><p class="lead">Topic</p></li>
            <li><p class="lead">Topic</p></li>
            <li><p class="lead">Topic</p></li>
            <li><p class="lead">Topic</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
