<hr class="small">
<section id="registration" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Registration & Abstract Submission</h1>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration is not yet open.</p> -->
          <a class="btn btn-dark btn-lg" href="https://register.mcmaster.ca/" target="_blank" style="margin-top: 20px;"><p class="lead" style="margin-top: 0px; margin-bottom: 0px;">Registration Form</p></a>
          <br>
          <br>

          <!-- Collapsible Section -->
          <button class="collapsible"><p class="lead" style="margin-top: 5px; margin-bottom: 5px; margin-left: 20px;">Registration Types</p></button>
          <div class="content-collapsible">
            <h3>Early registration (available March 21 to May 16)</h3>
            <ul class="list-unstyled">
              <li><p class="lead">Student: CAD$110 plus hst</p></li>
              <li><p class="lead">Non-Student: CAD$220 plus hst</p></li>
            </ul>
            <h3>Late registration (available May 17 to June 16)</h3>
            <ul class="list-unstyled">
              <li><p class="lead">Student: CAD$140 plus hst</p></li>
              <li><p class="lead">Non-Student: CAD$250 plus hst</p></li>
            </ul>
            <h3>Virtual Registration (available March 21 to June 16)</h3>
            <ul class="list-unstyled">
              <li><p class="lead">Virtual registration (online only): CAD$80 plus hst</p></li>
            </ul>
            <h3>Banquet Dinner (available March 21 to May 16)</h3>
            <ul class="list-unstyled">
              <li><p class="lead"> Banquet @ the Diplomat Restaurant: CAD$90 plus hst</p></li>
            </ul>
          </div>


          <button class="collapsible"><p class="lead" style="margin-top: 5px; margin-bottom: 5px; margin-left: 20px;">Abstract Submission</p></button>
          <div class="content-collapsible">
            <p class="lead">Abstracts for contributed talks are due by <b>May 16th</b>. Abstracts submitted after May 16th will be considered for posters.</p>
            <p class="lead">Abstract submission is done through the <a href="https://register.mcmaster.ca/" target="_blank">Registration Form</a>. </p>
            <p class="lead">During completion of the form, you'll have the opportunity to upload a document containing the title and abstract of your contribution (talk or poster). Follow the naming convention LastName_FirstName_DocumentTitle.pdf. </p>
            <img src="img/abstract-submission/upload-document.png" alt="Abstract Submission" style="width: 100%;">
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>
            <p class="lead"><b>Please note:</b> If the "Abstract Upload" page does not appear for you as you proceed through the registration pages, please submit your abstract PDF over email directly to our LOC Chair, Rachel Pillsworth <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:pillswor@mcmaster.ca">pillswor@mcmaster.ca</a></p>
          </div>


          <button class="collapsible"><p class="lead" style="margin-top: 5px; margin-bottom: 5px; margin-left: 20px;">Guide to the Registration Form</p></button>
          <div class="content-collapsible">
            <p class="lead"><b>1. Navigate to <a href="https://register.mcmaster.ca/" target="_blank">https://register.mcmaster.ca/</a>.</b> </p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>2. Create an account by clicking "Create one here"</b>. You'll receive a confirmation email from meet@mcmaster.ca. Note: Even if you have a MacID you must first
              create an account on the platform. </p>
            <img src="img/registration/step2.jpg" alt="Create account" style="width: 100%;">

            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>3. Log in.</b> Once you have created your account, then you will be able to login using either your MacID Login or Guest Login.
              Throughout this process, please do not press refresh or go to the previous page. If you wish to correct your booking, please use the GO BACK button and the
              bottom of the page when it is available.</p>
              <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>4. Click "General Registration".</b> </p>
            <img src="img/registration/step4.jpg" alt="General Registration" style="width: 100%;">
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>5. Enter the Event/Group code: <b>RALPOSIUM</b>.</b> Select "RalPosium 2025 - Event Registration & Accommodations". </p>
            <img src="img/registration/step5.jpg" alt="RALPOSIUM" style="width: 100%;">
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>6. Complete the Personal Information page.</b> Dietary restrictions are relevant for the provided lunch. Answer 
              the "Do you require on campus accommodation" question with a "Yes" or "No" only.</p>
              <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>7. Select your desired registration type.</b> Early registration options are:</p>
            <img src="img/registration/step7.png" alt="Early Registration" style="width: 100%;">
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>8. If you said "Yes" to Overnight On-campus Accommodations, choose your preferred arrival and departure dates.</b> Accomodation 
            is available for four (4) nights: June 24th, 25th, 26th, and 27th. See more details <a href="#accommodations" target="_blank">here</a>.</p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>9. Read the Guest Expectations document and sign with your account email address.</b> </p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>10. Abstract submission.</b> Upload a document containing the title and abstract of your contribution (talk or poster) following the naming convention LastName_FirstName_DocumentTitle.pdf. </p>
            <img src="img/abstract-submission/upload-document.png" alt="Abstract Submission" style="width: 100%;">
            <p class="lead">If this page does not appear for you, please submit your abstract PDF over email directly to our LOC Chair, Rachel Pillsworth <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:pillswor@mcmaster.ca">pillswor@mcmaster.ca</a>.</p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>11. Add a RalPosium Banquet Dinner Ticket.</b> Wednesday night, June 25th, at The Diplomat Restaurant in Hamilton!</p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>12. Review and pay.</b> All fees are due upon time of booking. Cancellation and refund requests will be reviewed on a case-by-case basis; a non-refundable $25 administrative and credit card processing fee will apply. Accommodations can be cancelled with 48hr notice for a full refund.</p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead"><b>13. Check your inbox (or junk folder) for a confirmation email.</b> </p>
            <p class="lead" style="margin-top: 1px; color:#f1f1f1;">--  </p>

            <p class="lead">If you have any questions, please write to: <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>

          </div>
            <p class="lead"><b>Please note:</b> Some registrants have reported technical difficulties with <b>abstract submission</b> through the Registration Form (occurring on May 15/16, 2025). If the "Abstract Upload" page does not appear for you as you proceed through the registration pages, please don't fret. Simply submit your abstract PDF over email directly to our LOC Chair, Rachel Pillsworth <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:pillswor@mcmaster.ca">pillswor@mcmaster.ca</a>, and rest assured it will be added to the pool of portal-submitted abstracts.</p>
            <!-- <p class="lead"></p> -->

          <br>
          <h2>Special Thanks to Ralph</h2>
          <p class="lead">The SOC/LOC is organizing a little something extra special. If you would like to celebrate Ralph's retirement beyond participating in the meeting, click below.</p>

          <button class="collapsible" style="background-color:whitesmoke"><p class="lead" style="margin-top: 5px; margin-bottom: 5px; margin-left: 20px; color:#777">Do not click this button if you are Ralph :)</p></button>
          <div class="content-collapsible">
            <!-- <h3>A gift Ralph can </h3> -->
            <p class="lead">We are collecting <b>Letters of Appreciation</b> from all of Ralph's current and former students, postdocs, collaborators, colleagues, and friends. The plan is to bind them all into a beautiful book to present to Ralph as a gift at the celebration party on the Friday night of RalPosium.</p>

            <p class="lead"><b>What is a letter of appreciation?</b> A play on words with "letters of recommendation". The concept of a letter of appreciation is like the idea of a letter of reference (something Ralph has likely written for many of us at one point or another), but flipped around. It is an opportunity to reflect on how Ralph has impacted our careers/journeys/life, and let him know. </p>
            <p class="lead">A letter of appreciation can be: a chronological review of memories, impacts, "that time when", short stories, picking a paper you wrote with Ralph and discussing how it impacted your life or the field -- or anything you would like to express. It can be as long or short as you like, and you can include photos.</p>
              
            <p class="lead">Letters of appreciation are personal; therefore, we will not be reading them or sharing them with anyone. We will simply copy/paste your text into the memory book. You have our word!</p>
          
            <p class="lead"><b>The deadline for e-mail submission directly to us is May 23rd, 2025</b>. This is to give the printers enough time to print the collection into a book in time to gift it to Ralph at the end of RalPosium. Please send your letter of appreciation to Ben Pearce at <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:pearce21@purdue.edu">pearce21@purdue.edu</a>.</p>


          </div>

        </div>

      </div>
    </div>
  </div>
</section>




<!-- CSS for collapsible -->
<style>
  .collapsible {
    background-color: #777;
    color:#f1f1f1;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border: 5px solid white; /* Added white border */
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content-collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 4px solid white; /* Added white border */
  }
</style>

<!-- JavaScript to toggle collapsible -->
<script>
  var coll = document.getElementsByClassName("collapsible");
  for (var i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>