<hr class="small">
<section id="soc" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Scientific Organizing Committee (SOC)</h2>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead">Rachid Ouyed, Chair (University of Calgary)</p></li>
            <li><p class="lead">Ben Pearce (Purdue University)</p></li>
            <li><p class="lead">René Heller (Max Planck Institute for Solar System Research)</p></li>
            <li><p class="lead">Elizabeth Tasker (Japan Aerospace Exploration Agency)</p></li>
            <li><p class="lead">Yasuhiro Hasegawa (Jet Propulsion Laboratory)</p></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
