<hr class="small">
<section id="sponsors" class="custom-section no-background">
  <div class="container text-center">

    <h1>Organizing Institutions and Sponsors</h1>
    <br>
    <br>

    <div style="text-align: center;">
      <img src="/img/sponsors/maclogo.jpg" alt="McMaster" width="12%" style="margin: 20px;">
      <img src="/img/sponsors/physics-astronomy.png" alt="McMaster" width="25%" style="margin: 20px;">
      <img src="/img/sponsors/origins.jpeg" alt="Origins Institute" width="30%" style="margin: 20px;">
      <img src="/img/sponsors/cita.jpg" alt="McMaster" width="20%" style="margin: 8px;">
    </div>

  </div>
</section>
