<hr class="small">
<section id="travel-information" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h1>Travel Information</h1>
        </div>
        <div class="content">
          <h2>Transportation to McMaster University</h2>
          <p class="lead"><b>Toronto Pearson Airport (YYZ) to McMaster:</b></p>
          <ul>
              <li><p class="lead">GO Bus: Route #40 from Terminal 1. Use the <a href="https://www.gotransit.com/en/plan-your-trip" target="_blank" class="lead">GO transit fare calculator</a> for exact fares.</p></li>
              <li><p class="lead">GO Train:</p>
                  <ul>
                      <li><p class="lead"><a href="https://www.upexpress.com/en" target="_blank" class="lead">UP Express</a> train from Pearson to Union Station. CAD$12.35 one-way ticket, CAD$24.70 return ticket.</p></li>
                      <li><p class="lead">Lakeshore West (LW) GO train line from Union Station to West Harbour Station (Hamilton). CAD$13.60 one-way ticket.</p></li>
                  </ul>
              </li>
              <li><p class="lead">Pearson Airport Taxi: ~$130 from Pearson to Hamilton.</p></li>
          </ul>
      
          <p class="lead"><b>University of Guelph to McMaster:</b></p>
          <ul>
              <li><p class="lead">GO Bus: Route #17</p></li>
          </ul>
      
          <p class="lead"><b>University of Toronto/York University to McMaster:</b></p>
          <ul>
              <li><p class="lead">Take subway line 1 to Highway 407 stop</p></li>
              <li><p class="lead">GO Bus: Route #41 from Highway 407 Bus Terminal to McMaster</p></li>
          </ul>
      
          <p class="lead"><b>Western University to McMaster:</b></p>
          <ul>
              <li><p class="lead">Flixbus: Route #2702 from Downtown City Plaza</p></li>
              <li><p class="lead">Train:</p>
                  <ul>
                      <li><p class="lead">Via Rail from London to Brantford</p></li>
                      <li><p class="lead">GO Bus Route #15 from Brantford to McMaster</p></li>
                  </ul>
              </li>
          </ul>
      
          <p class="lead"><b>University of Waterloo/Wilfrid Laurier University to McMaster:</b></p>
          <ul>
              <li><p class="lead">GO Bus: Route #17</p></li>
          </ul>

          <br>
          <h2>Transportation within Hamilton</h2>

          <ul>
            <li><p class="lead">Hamilton Street Railway (HSR): McMaster is well connected by many HSR bus routes that can get you to and from campus. <a href="https://parking.mcmaster.ca/getting-to-campus-2/public-transit/#tab-content-hsr" target="_blank" class="lead">More info here</a>.</p></li>
            <li><p class="lead">Taxi Service: <a href="https://www.hamiltoncab.com/" target="_blank" class="lead">Hamilton Cab</a>.</p></li>
            <li><p class="lead">Uber: Uber services are widely available. </p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>