<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include rationale.html %}
  {% include program.html %}
  {% include invited-speakers.html %}
  {% include important-dates.html %}
  {% include format.html %}
  {% include soc.html %}
  {% include loc.html %}
  {% include travel-information.html %}
  {% include accommodations.html %}
  {% include map.html %}
  {% include acknowledgements.html %}
  {% include footer.html %}
  {% include scripts.html %}


</body>

</html>
